# Ignore the virtual environment
env/

# Python compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Django specific
*.log
local_settings.py
media/
staticfiles/
/venv

# Ignore the following if using Django's collectstatic
static/

# Environments
.env
*.env

# Ignore secrets
secrets.json

# VSCode/IDE configurations (optional)
.vscode/
.idea/

# Ignore coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# Ignore pytest and testing-related files
.tox/
nosetests.xml
coverage.xml
*.cover
*.pytest_cache/

# macOS specific
.DS_Store

# Windows specific
Thumbs.db

# Ignore migrations except __init__.py
*/migrations/*.py
!*/migrations/__init__.py

# Byte-compiled / optimized / DLL files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/

# PyCharm-specific files (optional)
.idea/
